<html>

<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

    <div class="profile">
        <img src="<%= require('./images/mochi.jpg') %>" alt="toy poodle">
        <h1>Hello Mochi</h1>
    </div>

</body>

</html>